*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:lightslategrey;
}
.menu{
     background-color: teal;
       border: 40px;
       width: 600px;
       height: 400px;
       position: relative;
        left: 30%;
        top: 150px;
        text-align: center;
        border-radius: 20pX;
      
      
        
        
        
}

.circle{
    background-color:rgb(255, 111, 95);
    border: 20px;
    width: 200px;
    height: 180px;
    position:relative;
   
   left: 300px;
    top: 80px;
    z-index: -1;
    filter: drop-shadow( rgb(126, 194, 126));
    border-radius: 49%;
    
  
    
}

.circle2{
    background-color:rgb(255, 115, 100);
    border: 20px;
    width: 200px;
    height: 200px;
    position:relative;
    
   
   bottom: 500px;
   left: 70%;
    filter: drop-shadow( rgb(126, 194, 126));
    z-index: -1;
    border-radius: 50%;
    
}
h1{
          position: relative;
          top: 20px;
}
.log{
    color:black;
    text-align: center;
    padding-top: 80px;
    font-family: Verdana, sans-serif;
    font-size: 15px;
   
   
    
}

.pas{
    position: relative;
    top: 50px;
   
   
    
}
h4{
    position: relative;
    bottom: 10px;
}
input{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    box-shadow: 5px 10px;
    outline: none;
   
}
.btn{
    position: relative;
    top: 40px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 5px 10px;

    
}
#msg{
    top: 50px;
    font-weight: bolder;
}